<div class="container">
    <div class="title" (click)="shuffle()">{{ text }}</div>
    <div class="grid">
      <img (click)="move($event)" [src]="index[0] + '.png'" alt="0">
      <img (click)="move($event)" [src]="index[1] + '.png'" alt="1">
      <img (click)="move($event)" [src]="index[2] + '.png'" alt="2">
      <img (click)="move($event)" [src]="index[3] + '.png'" alt="3">
      <img (click)="move($event)" [src]="index[4] + '.png'" alt="4">
      <img (click)="move($event)" [src]="index[5] + '.png'" alt="5">
      <img (click)="move($event)" [src]="index[6] + '.png'" alt="6">
      <img (click)="move($event)" [src]="index[7] + '.png'" alt="7">
      <img (click)="move($event)" [src]="index[8] + '.png'" alt="8">
      <img (click)="move($event)" [src]="index[9] + '.png'" alt="9">
      <img (click)="move($event)" [src]="index[10] + '.png'" alt="10">
      <img (click)="move($event)" [src]="index[11] + '.png'" alt="11">
      <img (click)="move($event)" [src]="index[12] + '.png'" alt="12">
      <img (click)="move($event)" [src]="index[13] + '.png'" alt="13">
      <img (click)="move($event)" [src]="index[14] + '.png'" alt="14">
      <img (click)="move($event)" [src]="index[15] + '.png'" alt="15"> 
    </div>
  </div>